---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
---

<Layout isIndex={true}>
    <div class="container">
        <h1>Štefan Fraňo - predaj papagájov</h1>
        <p class="description">
            Táto webová stránka slúži na predaj papagájov. Z mnohých
            druhov papagájov sú v ponuke: Ara, Amazoňany, Alexandry a
            ďalšie. Ponuku papagájov si môžete prezrieť pomocou linku
            v spodnej časti tejto stránky. Okrem papagájov je v ponuke
            aj krmivo, k čomu je taktiež poskytnutý link v spodnej
            časti webovej stránky, link na kontaktné údaje a link na
            fotografie odchovov, ktoré sú v ponuke.
        </p>

        <div class="links">
            <Link href="parrots" label="Papagáje" />
            <Link href="breedings" label="Odchovy" />
            <Link href="food" label="Krmivo" />
            <Link href="contact" label="Kontakt" />
        </div>
    </div>
</Layout>

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 18px;
    }
    h1 {
        margin-bottom: 4rem;
        text-align: center;
    }

    .description {
        margin-bottom: 200px;
        text-align: justify;
        max-width: 60ch;
        font-size: 1.2rem;
        line-height: 1.5;
    }
    .links {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
</style>
