.parrot {
    margin-bottom: 40px;
    --primary-image-width: 120px;
    max-width: 1000px;
}

.parrot img {
    width: var(--primary-image-width);
    margin-bottom: 10px;
    aspect-ratio: 3/2;
    object-fit: fill;
    cursor: pointer;
}

.parrot img:hover {
    scale: 1.02;
}

.mutations-container {
    margin-top: 10px;
    text-align: center;
}

.mutations-title {
    font-size: 1.2rem;
    text-decoration: underline;
}

.mutations {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.mutations img {
    width: calc(var(--primary-image-width) / 4 * 3);
    aspect-ratio: 3/2;
    object-fit: contain;
}

.header {
    text-align: center;
}

.name {
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: bold;
    display: block;
}

.description {
    margin-top: 8px;
}

@media (min-width: 720px) {
    .parrot {
        --primary-image-width: 150px;
        margin-bottom: 80px;
    }
    .header {
        text-align: start;
        display: flex;
        gap: 20px;
    }
    .description {
        max-width: 60ch;
    }
}

@media (min-width: 1200px) {
    .parrot {
        --primary-image-width: 200px;
    }

    .name {
        font-size: 1.5rem;
    }

    .description {
        font-size: 1.3rem;
    }
}
