*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

:root {
    --primary-gradient: linear-gradient(135deg, #4c4d4e, #111316)
        no-repeat;
}

body {
    background: var(--primary-gradient);
    min-height: 100vh;
}

button {
    border: none;
}
