---
import Link from "../components/Link.astro";
import "../style.css";
export interface Props {
    title?: string;
    isIndex?: boolean;
}

const { title = "Papagáje", isIndex = false } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        {
            !isIndex && (
                <div class="link">
                    <Link href="/" label="späť" />
                </div>
            )
        }
        <slot />

        <style>
            .link {
                display: flex; /* musí to tu byť, aby Link nemal overflow cez .link */
                position: fixed;
                left: 10px;
                top: 10px;
            }
        </style>
    </body>
</html>
